# Файлы окружения
.env

**/*.db
# Локальные данные
**/venv/
**./busi_beeline/result/
# Исполняемые файлы
**/*.exe
# Временные файлы
**/*.xpo
*.pyc
**/build/
**/dist/
**/test_dir/
# Медиафайлы (если нужно игнорировать все)
**/*.docx
**/*.log
**/*.xlsx
